:root {
    --basic-font-size: 1rem;
    --left-align: left;
    --basic-pixel-margin: 5px;
    --basic-black-border: 1px solid black;
    --rel-position: relative;
    --none: none;
}

#resume-view {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 210mm;
    height: 297mm;
    /* margin: auto; */
    padding: 10mm;
    box-sizing: border-box;
    display: grid;
    gap: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: white;
}


.profile-image {
    width: 120px;
    aspect-ratio: 1;
    border: 12px solid green;
    box-shadow: 0 0 8px rgba(0, 0, 0, 1);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem;
    background: white;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.name {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0;
    color: black;
}

.position {
    font-size: 1rem;
    color: #a0a0a0;
    margin-top: 0.5rem;
    font-weight: 400;
}

.personalInfo {
    /* border-bottom: var(--basic-black-border); */
    text-align: var(--left-align);
    position: var(--rel-position);
}

.personalInfo>div:nth-child(1) {
    display: flex;
}

.personalInfo>div:nth-child(1)>div {
    outline: var(--none);
    padding-right: 2px;
    font-size: 24px;
    font-weight: 700;
}


.profile-card {
    position: relative;
    border:none,
}

.personalInfo>div:nth-child(1)>div:nth-child(2) {
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-weight: 400;
    letter-spacing: 3px;
}

.personalInfo>div:nth-child(2) {
    outline: var(--none);
    font-size: 16px;
    padding: 0px 0px 10px 20px;
}

.personalInfo>div:nth-child(3)>p {
    outline: var(--none);
    display: inline-block;
}

.personalInfo>ul {
    padding-left: 1.2rem;
    display: inline-block;
}

.personalInfo>ul>li {
    outline: var(--none);
}

.contact {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
    position: relative;
}

.contact h2 {
    padding-bottom: 10px;
    font-weight: 500;
}

.contactList {
    list-style: var(--none);
    padding-left: 15px;
}

.contactItem {
    padding-left: var(--basic-pixel-margin);
     padding-bottom: 8px;
}

.icon-picker-popup {
    border: var(--basic-black-border);
}

.icon-option {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editable-text {
    display: inline;
    padding-left: 12px;
    outline: var(--none);
}

.skills {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.skills>h2 {
    padding-bottom: 15px;
    font-weight: 500;
}

.skills>ul {
    display: inline-block;

}

.skills>ul>li {
    outline: var(--none);
}

.individualSkill {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    /* justify-content: space-between; */
}

.individualSkill>span {
    border: var(--basic-black-border);
    outline: var(--none);
    padding: var(--basic-pixel-margin);
    margin-bottom: 12px;
    margin-right: 10px;
}

.strengths {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.strengths h2 {
    padding-bottom: 10px;
    font-weight: 500;
}

.eachStrength {
    margin-bottom: 20px;
    padding-left: 15px;
}

.eachStrength>h3 {
    outline: var(--none);
    padding-bottom: 5px;
    font-weight: 500;
}

.eachStrength>ul {
    padding-left: 1.7rem;
}

.eachStrength>ul>li {
    outline: var(--none);
}

.eachStrength>div>p {
    outline: var(--none);
}

.workExperience {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.workExperience>h2 {
    outline: var(--none);
    padding-bottom: 10px;
    font-weight: 500;
}

.workPlace {
    margin-bottom: 20px;
    margin-left: var(--basic-pixel-margin);
    padding-left: 15px;
}

.workPlace>h3 {
    outline: var(--none);
    padding-bottom: 5px;
    font-weight: 500;
}

.workPlace>h4 {
    outline: var(--none);
    padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.workPlace>h6 {
    font-size: 14px;
    outline: var(--none);
    padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.workPlace>div>p {
    margin-left: var(--basic-pixel-margin);
    outline: var(--none);
    padding: 0px 0px 5px 8px;
}

.workPlace>ul {
    padding: 0px 0px 5px 25px;
}

.workPlace>ul>li {
    outline: var(--none);
}

.projects {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
    
}

.projects>h2 {
    outline: var(--none);
    padding-bottom: 10px;
    font-weight: 500;
}

.eachProject {
    padding-left: var(--basic-pixel-margin);
    padding: 0px 0px 20px 15px;
}

.eachProject>h3 {
    outline: var(--none);
    padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.eachProject>div>p {
    outline: var(--none);
    padding: 0px 0px 5px 8px;
}

.eachProject>ul {
    padding-left: var(--basic-font-size);
    padding: 0px 0px 5px 25px;
}

.eachProject>ul>li {
    outline: var(--none);
}

.education {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.education>h2 {
    outline: var(--none);
    padding-bottom: 10px;
    font-weight: 500;
}

.educationItem {
    padding: 0px 0px 20px 15px;
}

.educationItem>h3 {
    outline: var(--none);
    padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.educationItem>h4 {
    outline: var(--none);
     padding: 0px 0px 5px 0px;
     font-weight: 500;
}

.educationItem>h6 {
    font-size: 14px;
    outline: var(--none);
     padding: 0px 0px 5px 0px;
     font-weight: 500;
}

.educationItem>div>p {
    padding-left: var(--basic-pixel-margin);
    outline: var(--none);
    padding: 0px 0px 5px 8px;
}

.educationItem>ul {
    padding-left: var(--basic-font-size);
    padding: 0px 0px 5px 25px;
}

.educationItem>ul>li {
    outline: var(--none);
}

.summary {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.summary>ul {
    padding-left: 10px;
}

.summary>ul>li {
    outline: var(--none);
}

.summary>div>p {
    outline: var(--none);
    padding-left: 16px;
}

.organizations {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.organizations h2 {
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}

.eachOrganization {
    padding: 0px 0px 20px 15px;
}

.eachOrganization>h3 {
    outline: var(--none);
    padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.eachOrganization>ul {
    padding-left: var(--basic-font-size);
    padding: 0px 0px 0px 25px;
}

.eachOrganization>ul>li {
    outline: var(--none);
}

.eachOrganization>div>p {
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.awards {
    margin-bottom: var(--basic-font-size);
    text-align: var(--left-align);
}

.awards h2 {
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}

.eachAward {
     padding: 0px 0px 20px 15px;
}

.eachAward>h3 {
    outline: var(--none);
     padding: 0px 0px 5px 0px;
     font-weight: 500;
}

.eachAward>ul {
    padding-left: var(--basic-font-size);
     padding: 0px 0px 0px 25px;
}

.eachAward>ul>li {
    outline: var(--none);
}

.eachAward>div>p {
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.certificates {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}
.certificates h2 {
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}
.eachCertificate {
     padding: 0px 0px 20px 15px;
}

.eachCertificate>h3 {
    outline: var(--none);
    font-weight: 500;
}

.eachCertificate>h4 {
    outline: var(--none);
    font-weight: 500;
}

.eachCertificate>h5 {
    outline: var(--none);
    font-size: 15px;
}

.eachCertificate>ul {
    padding-left: var(--basic-font-size);
}

.eachCertificate>ul>li {
    outline: var(--none);
}

.eachCertificate>div>p {
    padding-left: var(--basic-pixel-margin);
    outline: var(--none);
}

.languages {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.languages>h2 {
    margin-bottom: var(--basic-pixel-margin);
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}

.languages>ul {
   padding: 0px 0px 0px 25px;
}

.languages>ul>li {
    outline: var(--none);
}

.languages>div {
    display: flex;
    flex-wrap: wrap;
}

.languages>div>span {
    border: var(--basic-black-border);
    outline: var(--none);
    padding: var(--basic-pixel-margin);
    margin-bottom: 12px;
    margin-right: 20px;
}

.achievements {
    text-align: var(--left-align);
    margin-bottom: var(--basic-font-size);
}

.achievements h2 {
    padding: 0px 0px 10px 0px;
    font-weight: 500;
}
.eachAchievement {
     padding: 0px 0px 20px 15px;
}

.eachAchievement>h3 {
    outline: var(--none);
     padding: 0px 0px 5px 0px;
    font-weight: 500;
}

.eachAchievement>ul {
    padding-left: var(--basic-font-size);
     padding: 0px 0px 0px 25px;
    
}

.eachAchievement>ul>li {
    outline: var(--none);
}

.eachAchievement>div>p {
    outline: var(--none);
    padding-left: var(--basic-pixel-margin);
}

.timeline {
    position: relative;
    padding-left: 30px;
    border-left: 3px solid black;
    margin-left: 10px;
    margin-top: 10px;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
}

/* .area-leftColumn h2 {
    border-bottom: 2px solid var(--left-heading-color);
    color: var(--left-heading-color);
    margin-bottom: var(--left-heading-spacing);
}

.area-rightColumn h2 {
    border-bottom: 2px solid var(--right-heading-color);
    color: var(--right-heading-color);
    margin-bottom: var(--right-heading-spacing);
} */

.timeline-item .dot {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -37px;
}

#resume-view {
    position: relative;
}

#resume-view.editing::before {
    content: "";
    position: absolute;
    inset: 0;
    background: #ffffffb3;
    backdrop-filter: blur(0.01px);
    -webkit-backdrop-filter: blur(0.01px);
    z-index: 1;
    pointer-events: none;
}

#resume-view.editing .resumeSection {
    position: relative;
}

.resumeSection.selected {
    z-index: 2;
    background: inherit;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 12px;
    outline: 2px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    position: relative;
    padding: 1rem;
    top: -1rem;
}

.polygon::before,
.polygon::after {
    content: "";
    position: absolute;
    width: 10%;
    height: 25%;
    background: #32A548;
    clip-path: polygon(53% 0, 54% 44%, 100% 67%, 100% 100%, 0 100%, 0 39%);
    z-index: 1;
    pointer-events: none;
}

.polygon::before {
    top: -40px;
    left: 293px;
}

.polygon::after {
    top: 220px;
    left: 293px;
    transform: rotateX(180deg);
    transform-origin: center;
}

.dotted-heading {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dotted-heading h2 {
    margin: 0;
    white-space: nowrap;
}

.dotted-heading::after {
    content: "";
    flex-grow: 1;
    border-bottom: 3px dotted black;
    height: 0.3em;
    transform: translateY(0.2em);
}